<article>
  <header>
    <h1>Private Zone</h1>
  </header>
  <p>Nombre: {{user.first_name}}</p>
  <p>Apellido: {{user.last_name}}</p>
  <p>Correo: {{user.email}}</p>
  <footer>
    <a href="/api/sessions/logout" role="button">Logout</a>
  </footer>
</article>